{% extends "main.html" %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/debug_tracker.css')}}">
<script>
    $(document).ready(function(){
        var socket = io.connect('http://'+ document.domain+':'+location.port);
        var img = document.getElementById("dot_page");
        var legend = document.getElementById("id_list");

        socket.on('connect', function(){
            console.log('Im Connected');
           });

        socket.on('tracker_update', function(data){
            console.log("update received");
            console.log(data);

            img_children = img.childNodes;
            img.innerHTML = '';

            legend.innerHTML = '';
            set_top = true;
            keys = [];
            for(person_id in data){
                if (set_top){
                    for(tracker_prop in data[person_id]){
                        keys.push(tracker_prop);
                    }
                    keys.splice( keys.indexOf('position'), 1 );

                    legend.style.gridTemplateColumns = "repeat(" + String(keys.length + 1) + ",1fr)";

                    id_div = document.createElement("div");
                    id_div.innerHTML = "ID";
                    legend.appendChild(id_div);
                    for(key in keys){
                        new_div = document.createElement("div");
                        new_div.innerHTML = keys[key];
                        legend.appendChild(new_div);
                    }
                    set_top = false;

                }
                new_div = document.createElement('div');
                new_div.innerHTML = person_id;
                legend.appendChild(new_div)
                for(key in keys){
                    console.log("key:");
                    console.log(key);
                    new_div = document.createElement("div");
                    new_div.innerHTML = String(data[person_id][keys[key]]);
                    legend.appendChild(new_div);
                }

                person_loc = data[person_id]["position"];
                color = intToRGB(person_id);
                // console.log("Adding person" + person_id)

                var dot = document.createElement("div");
                dot.id = person_id + "_dot";
                dot.className = "dot";
                dot.style.top = String(parseInt(person_loc[0])-10) + "px";
                dot.style.left = String(parseInt(person_loc[1])-10) + "px";
                dot.style.backgroundColor = "#" + color;
                img.appendChild(dot);

                // var txt = document.createElement("div");
                // txt.className = "p";
                // txt.style.color = "#" + color;
                // txt.innerHTML = ("<strong>ID:" + person_id + "<\strong>");
                // legend.appendChild(txt);
            }
        });

    });

    function intToRGB(i) {
    var hex = (((i*30)<<2)&0xFF).toString(16) +
            (((i*15417))&0xFF).toString(16) +
            (((i*127)>>8)&0xFF).toString(16) +
            ((i*19)&0xFF).toString(16);
    // Sometimes the string returned will be too short so we 
    // add zeros to pad it out, which later get removed if
    // the length is greater than six.
    hex += '000000';
    return hex.substring(0, 6);
}
</script>
<h1>Tracker testing</h1>
<div class="main_wrapper">
    <div class="debug_img" id="img">
        <img src="../static/Img/layout.png" alt="" >
        <div id="dot_page" style="height: 100%; width: 100%; left: 0;top: 0; position: absolute;">

        </div>
    </div>
    <div class="legend" id="legend">
        <h3>Objects</h3>
        <div id="id_list" style="display: grid;">

        </div>
    </div>
</div>
{% endblock %}